<!-- <h2>Contactanos</h2>
<div class="contenedor">
  <div class="container" >
    <form class="card">
      <div class="form-group">
        <label for="exampleFormControlInput1">Nombre</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="jose,paco,manolo...">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Telefono</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="+34 65888858585">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Cual es el problema</label>
        <select class="form-control" id="exampleFormControlSelect1" aria-placeholder="elige una opcion">
          <option>elige una opcion</option>
          <option>no me descarga el juego</option>
          <option>tu pagina es un asco</option>
          <option>yo lo sabria hacer mejor</option>
          <option>no seas tan duro contigo</option>
          <option>todo esta bien eres un genio</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Describe brevemente tu problema</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" minlength="200px" maxlength="600px"></textarea>
      </div>
      <button type="button" class="submit">Enviar</button>
    </form>
  </div>
  <div class="direcciones">
<p><a href="#"><i class="fab fa-whatsapp"></i>+34 654684651</a></p>
<p><a href=""><i class="fas fa-home"></i></a>alonso martin nº5 Segovia</p>
<p><a href=""><i class="fas fa-envelope"></i>ejemplo@ejemplo.com</a></p>
  </div>

</div>
 --> -->
 <h2>Contactanos</h2>
 <div class="contenedor">
   <div class="container" >
     <form class="card">
       <div class="form-group">
         <label for="exampleFormControlInput1">Nombre</label>
         <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="jose,paco,manolo...">
       </div>
       <div class="form-group">
         <label for="exampleFormControlInput1">Email</label>
         <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
       </div>
       <div class="form-group">
         <label for="exampleFormControlInput1">Telefono</label>
         <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="+34 65888858585">
       </div>
       <div class="form-group">
         <label for="exampleFormControlSelect1">Cual es el problema</label>
         <select class="form-control" id="exampleFormControlSelect1" aria-placeholder="elige una opcion">
           <option>elige una opcion</option>
           <option>no me descarga el juego</option>
           <option>tu pagina es un asco</option>
           <option>yo lo sabria hacer mejor</option>
           <option>no seas tan duro contigo</option>
           <option>todo esta bien eres un genio</option>
         </select>
       </div>
       <div class="form-group">
         <label for="exampleFormControlTextarea1">Describe brevemente tu problema</label>
         <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" minlength="200px" maxlength="600px"></textarea>
       </div>
       <button type="button" class="submit">Enviar</button>
     </form>
   </div>
   <div class="direcciones">
 <p><a href="#"><i class="fab fa-whatsapp"></i>+34 654684651</a></p>
 <p><a href=""><i class="fas fa-home"></i></a>Alonso martin nº5 Segovia</p>
 <p><a href=""><i class="fas fa-envelope"></i>Ejemplo@ejemplo.com</a></p>
   </div>

 </div>
