p{

  text-align: center;
  font-size: x-large;
  text-transform: uppercase;
  font-family: emoji;
}
.display-4{
  text-align: center;
  font-size: x-large;
  text-transform: uppercase;
  font-family: emoji;
}
