<nav class="navbar navbar-expand-sm navbar-dark bg-white mb-3">
  <div class="container-fluid">
    <a class="navbar-brand">FREE GAMES</a>
    <button class="navbar-toggler ms-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="hamburguer">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 " *ngIf="isLogged" >
        <li class="nav-item">
          <a class="nav-link-active" aria-current="page" routerLink="/">
            <i class="fas fa-home"></i>
            INICIO
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link-active" routerLink="/lista">
            <i class="fas fa-list"></i>
            LISTA DE JUEGOS
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link-active" routerLink="/contact">
            <i class="fa-solid fa-address-book"></i>
            CONTACTO
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link-active" routerLink="/gestion">
            <i class="fa-solid fa-bars-progress"></i>
            GESTION DE JUEGOS
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link-active" routerLink="/registro">
            <i class="fa-solid fa-square-up-right"></i>
            REGISTRO DE USUARIO
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link-active" routerLink="/carro">
            <i class="fas fa-cart-arrow-down"></i>
            DESCARGAS({{service.list.length}})
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="isLogged">
        <li class="nav-item disable">
          <a class="nav-link color-grey">
            {{userLogged.name}}
          </a>
      </ul>
      <img *ngIf="isLogged" src="{{userLogged.photoUrl}}" class="rounded-circle mr-11" style="width: 50px">
      <button *ngIf="!isLogged" class="btn btn-outline-success" type="submit" routerLink="/login">
        <i class="fas fa-sign-in fa-lg"></i>
        inicio sesion
      </button>
      <button *ngIf="isLogged" class="btn btn-outline-danger ml-auto" type="submit" (click)="logOut()">
        <i class="fas fa-sign-in fa-lg"></i>
        Cerrar sesion
      </button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>


