<div class="footer-basic ">
  <footer>
      <div class="social"><a href="#"><i class="fab fa-instagram"></i></a><a href="#"><i class="fab fa-snapchat"></i></a><a href="#"><i class="fab fa-twitter-square"></i></a><a href="#"><i class="fab fa-facebook"></i></a></div>
      <ul class="list-inline">
          <li class="list-inline-item"><a href="localhost:4200">Inicio</a></li>
          <li class="list-inline-item"><a href="/downloads">Downloads</a></li>
          <li class="list-inline-item"><a href="localhost:4200/registro">Registro</a></li>
          <li class="list-inline-item"><a href="https://www.aepd.es/es/politica-de-privacidad-y-aviso-legal">Politica Privacidad</a></li>
      </ul>
      <p class="copyright">FreeGames  © 2022</p>
  </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
